.homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .body {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .Left_body {
      max-width: 500px;
      margin-right: 20px;
      .text {
        h2 {
          display: flex;
          font-size: 44px;
          font-weight: 400;
          margin: 0;
        }
        p {
          display: flex;
          font-size: 18px;
          font-weight: 300;
          color: #5f6368;
          line-height: 30px;
        }
        .actions {
          margin-top: 60px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          outline: none;
          .btn {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            padding: 12px;

            outline: none;

            border-radius: 5px;
            color: #00796b;
            .each_icon {
              display: flex;
              padding-right: 10px;
            }
            &:hover {
              background: #f6faf9;
            }
          }
          .input_block {
            margin-left: 20px;
            display: flex;
            flex: 1;
            .input_section {
              display: flex;
              position: relative;
              margin-right: 10px;
            }
            .each_icon {
              display: flex;
              position: absolute;
              top: 50%;
              transform: translate(10px, -50%);
              color: #5f6368;
            }
            input {
              font-size: 16px;
              height: 48px;
              border: 1px solid #ccc;
              border-radius: 5px;
              padding-left: 35px;
              width: 100%;
              box-sizing: border-box;
              outline: none;
            }
          }
        }
      }
    }
    .googlemeet {
      display: flex;
      margin-top: 30px;
      padding-top: 25px;

      border-top: 1px solid #ddd;
      a {
        text-decoration: none;
        color: #00796b;
        margin-right: 5px;
      }
    }
  }
  .Right_body {
    margin-top: 7%;
    margin-bottom: 2%;
    .text {
      border: 1px solid #eee;
      padding: 30px;
      width: 100%;
      max-width: 650px;
      border-radius: 5px;
      box-sizing: border-box;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
        0 2px 6px 2px rgba(60, 64, 67, 0.149);
      img {
        width: 100%;
        border-radius: 5px;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .body {
    display: flex;
    flex-direction: column;
  }
  .text {
    text-align: center;
  }
  .googlemeet {
    justify-content: center;
  }
  .actions {
    margin: 20px;
  }
  p {
    text-align: center;
  }
}
